.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .login__input {
      height: 30px;
      padding: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #ccc;
    }
    .login__button {
      border: none;
      padding: 10px 20px;
      background-color: #0071c2;
      color: white;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;
      margin-bottom: 15px;
      &:disabled {
        background-color: #0071c28c;
        cursor: not-allowed;
      }
    }
  }
  span {
    text-align: center;
    a {
      text-decoration: underline;
      color: #0071c2;
    }
  }
}
